      <!-- Main sidebar -->
      <div class="sidebar sidebar-main sidebar-fixed">
        <div class="sidebar-content">

          <!-- User menu -->
          <div class="sidebar-user">
            <div class="category-content">
              <% if company_signed_in? %>
              <div class="media">
                <a href="#" class="media-left"><img src="/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                <div class="media-body">
                  <span class="media-heading text-semibold"><%= current_company.name %></span>
                  <div class="text-size-mini text-muted">
                    <i class="icon-pin text-size-small"></i> <%= current_company.prefecture %>
                  </div>
                </div>

                <div class="media-right media-middle">
                  <ul class="icons-list">
                    <li>
                      <a href="#" data-toggle="modal" data-target="#modal_form_horizontal"><i class="icon-cog3"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <!-- /`nu -->


          <!-- Main navigation -->
          <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">

                <li>
                  <%= link_to root_path do %>
                  <i class="icon-newspaper"></i> ダッシュボード
                  <% end %>
                </li>

                <!-- projects -->
                <li href="#" class="navigation-header"><span>案件</span> <i class="icon-menu" title="Forms"></i></li>
                <li>
                  <a href="#"><i class="icon-arrow-left16"></i> <span>受注</span></a>
                  <ul>
                    <li><%= link_to '依頼された案件', receive_projects_path %></li>
                    <li><%= link_to '契約を確認', commitments_path %></li>
                  </ul>
                </li>
                <li>
                  <a href="#"><i class=" icon-arrow-right16"></i> <span>発注</span></a>
                  <ul>
                    <li><%= link_to '依頼した案件', order_projects_path %></li>
                    <li><%= link_to '案件を作成', new_project_path %></li>
                    <li><%= link_to '契約を確認', commitments_path %></li>
                  </ul>
                </li>
                <li>
                  <%= link_to companies_path do %>
                  <i class="icon-store"></i> 企業一覧
                  <% end %>
                </li>
                <!-- /projects -->

                <!-- accounts -->
                <li class="navigation-header"><span>アカウント</span> <i class="icon-menu" title="Main pages"></i></li>
                <li>
                  <a href="#" data-toggle="modal" data-target="#modal_form_horizontal"><i class="icon-user-tie"></i> <span>アカウント編集</span></a>
                </li>
                <!-- /accounts -->

              </ul>
            </div>
          </div>
          <!-- /main navigation -->

          <!-- Horizontal form modal -->
          <div id="modal_form_horizontal" class="modal fade">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h5 class="modal-title">アカウント編集</h5>
                </div>

                <form action="#" class="form-horizontal">
                  <div class="modal-body">
                    <div class="panel-body">
                      <div class="form-group">
                        <label>登録Eメール：</label>
                        <input type="text" class="form-control" value="imatat@tatami.jp">
                      </div>

                      <div class="form-group">
                        <label>企業名：</label>
                        <input type="text" class="form-control" value="(株)イマタット畳店">
                      </div>

                      <div class="form-group">
                        <label>郵便番号：</label>
                        <input type="text" class="form-control" value="123-1234">
                      </div>

                      <div class="form-group">
                        <label>住所：</label>
                        <input type="text" class="form-control" value="東京都日野市南平1-1">
                      </div>

                      <div class="form-group">
                        <label class="display-block">都道府県:</label>
                        <select data-placeholder="東京" class="select-fixed" value="東京都">
                          <option></option>
                            <option value="AK">北海道</option>
                            <option value="HI">青森</option>
                            <option value="CA">秋田</option>
                            <option value="NV">岩手</option>
                            <option value="WA">東京</option>
                            <option value="AZ">千葉</option>
                          </optgroup>
                        </select>
                      </div>

                      <div class="form-group">
                        <label>日産(枚)：</label>
                        <input type="text" class="form-control" value="6">
                      </div>

                      <div class="form-group">
                        <label>従業員数(人)：</label>
                        <input type="text" class="form-control" value="2">
                      </div>

                      <div class="form-group">
                        <label>電話番号：</label>
                        <input type="text" class="form-control" value="012-345-6789">
                      </div>

                      <div class="form-group">
                        <label>パスワード：</label>
                        <input type="password" class="form-control" value="">
                      </div>

                      <div class="form-group">
                        <label>パスワード再入力：</label>
                        <input type="password" class="form-control" value="">
                      </div>

                      <div class="form-group">
                        <label>プロフィール画像：</label>
                        <input type="file" class="file-styled">
                      </div>

                      <div class="form-group">
                        <label>企業紹介:</label>
                        <textarea rows="5" cols="5" class="form-control" value="企業紹介"></textarea>
                      </div>

                      <div class="form-group">
                        <label class="display-block">忙しさ:</label>
                        <select data-placeholder="忙しい" class="select-fixed" value="忙しい">
                          <option></option>
                            <option value="highest">とても忙しい</option>
                            <option value="high">忙しい</option>
                            <option value="normal">普通</option>
                            <option value="low">あまり忙しくない</option>
                            <option value="lowest">忙しくない</option>
                          </optgroup>
                        </select>
                      </div>

                      <div class="checkbox checkbox-switchery">
                        <label>
                          <input type="checkbox" class="switchery">
                          非公開設定
                          <span class="help-block">onにすると企業一覧に表示されなくなります</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit form</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /horizontal form modal -->

        </div>
      </div>
      <!-- /main sidebar -->
